{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Page d'inscription</h1>
    <!-- Formulaire d'inscription ici -->
{% endblock %}